@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') 
    format('embedded-opentype'), 
    url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.main{
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.main .focus{
    float: left;
    width: 721px;
    height: 455px;
}
.main .focus img{
    width: 100%;
    height: 100%;
}
.main .flash{
    float: right;
    width: 250px;
    height: 455px;
}
.news{
    height: 165px;
    border: solid 1px  #e4e4e4;
}
.lifeservice{
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top:0 ;
    overflow: hidden;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li{
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li em{
    display: inline-block;
    height: 28px;
    width: 24px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.bargain{
    margin-top: 5px;
}
.new_hd{
    height: 33px;
    border-bottom: 1px solid #e4e4e4;
    padding:0 15px;
    line-height: 33px;
}
.more{
    float: right;
}
.new_hd a::after{
    font-family: 'icomoon';
    content: '\e920';
}

.new_hd h5{
    float: left;
    font-size: 14px;
}
.new_bd{
    padding-top: 5px;
    padding-left: 15px;
}
.new_bd ul li{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recom{
    height: 163px;
   margin-top: 12px; 
   background-color: #ebebeb;
}
.recom_hd{
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 25px;
}
.recom_bd{
    float: left;
}
.recom_bd ul li{
    float:left;
    position: relative;
}
.recom_bd ul li:nth-child(-n+3):after{
    position: absolute;
    top:10px;
    right: 0;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.box_hd{
    height: 30px;
    border-bottom:2px solid #c81623 ;
}
.box_hd h3{
    float :left;
    font-size: 18px;
    color: red;
    font-weight: 400;
}
.box_hd .tab-list{
    float: right;
    line-height: 30px;
}
.tab-list ul li{
    float: left;
}
.tab-list ul li a{
    margin: 0 15px;
}
.floor .w{
    margin-top: 30px;
}
.box_bd{
    height: 361px;
}
.tab_list_item div{
    float: left;
    height: 100%; 
}
.col210{
    width: 210px;
    background-color: #f9f9f9;
}
.col210 ul li{
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 34px;
    padding-left: 12px;
    margin-right: 10px;
}
.col329{
    width: 329px;
}
.col221{
    width: 221px;
    border-right:1px solid rgba(0, 0, 0, 0.1);
}
.col219{
    width: 219px;
}
.bb{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}